p.opt.selected {
    border-bottom: 5px solid white;
}

.opt {
    text-decoration: none;
}

.hidden {
    display: none;
}

.disabled {
    text-decoration: line-through;
}

p.opt {
    border-bottom: 5px solid transparent;
}

.game {
    border: 1px solid black;
    height: 450px;
    width: 680px;
    background-color: black;
    font-family: okietrailfont, monospace;
    color: #fff;
}

textarea:focus, input:focus {
    outline: none;
}

input[type="text"] {
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: okietrailfont;
    src: url(font.ttf);
}

body {
    background-color: lightgrey;
}

ul.dashed {
    list-style: none;
}

ul.dashed > li::before {
    content: "-";
    position: absolute;
    margin-left: -20px;
}

.matt {
    height: 300px;
    width: 262px;

    background: url('../imgs/matt-sprites.png') left center;
    -webkit-background-size: 787px;
    background-size: 787px;
    -webkit-animation: play 6s steps(3) infinite;
    -o-animation: play 6s steps(3) infinite;
    animation: play 6s steps(3) infinite;
}

@keyframes play {
    100% {
        background-position: -787px;
    }
    
}
