p.opt.selected {
    border-bottom: 5px solid white;
}

.opt {
    text-decoration: none;
}

.hidden {
    display: none;
}

.disabled {
    text-decoration: line-through;
}

p.opt {
    border-bottom: 5px solid transparent;
}

.game {
    border: 1px solid black;
    height: 450px;
    width: 680px;
    background-color: black;
    font-family: okietrailfont, monospace;
    color: #fff;
}

textarea:focus, input:focus {
    outline: none;
}

input[type="text"] {
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: okietrailfont;
    src: url(font.ttf);
}

body {
    background-color: lightgrey;
}

ul.dashed {
    list-style: none;
}

ul.dashed > li::before {
    content: "-";
    position: absolute;
    margin-left: -20px;
}

.matt {
    height: 300px;
    width: 262px;

    background: url('../imgs/matt-sprites.png') left center;
    -webkit-background-size: 787px;
    background-size: 787px;
    -webkit-animation: play 6s steps(3) infinite;
    -o-animation: play 6s steps(3) infinite;
    animation: play 6s steps(3) infinite;
}

@keyframes play {
    100% {
        background-position: -787px;
    }

}

.trail {
    height: 150px;
    width: 113px;

    background-image: url('../imgs/traveling.png');

    -webkit-background-size: 400px 150px;
    background-size: 400px 150px;
}

.trail.animate {
    background-position: left center;
    width: 200px;

    -webkit-background-size: 400px 150px;
    background-size: 400px 150px;

    -webkit-animation: trail-play 1s steps(2) 4;
    -o-animation: trail-play 1s steps(2) 4;
    animation: trail-play 1s steps(2) 4;
}

.dies {
    background-image: url('../imgs/dies.PNG');

    -webkit-background-size: 113px 150px;
    background-size: 113px 150px;
}

.sickwife {
    background-image: url('../imgs/sick_wife_sprites.png');

    -webkit-background-size: 450px 150px;
    background-size: 450px 150px;

    -webkit-animation: sickwife-play 6s steps(4) infinite;
    -o-animation: sickwife-play 6s steps(4) infinite;
    animation: sickwife-play 6s steps(4) infinite;
}

.cali {
    background-image: url('../imgs/cali.png');
    width: 200px;
    -webkit-background-size: 200px 150px;
    background-size: 200px 150px;
}

.choices {
    background-image: url('../imgs/choices.png');
    width: 226px;
}

.hooverville {
    background-image: url('../imgs/hoovervile.PNG');
    width: 113px;

    -webkit-background-size: 113px 150px;
    background-size: 113px 150px;
}

.police {
    background-image: url('../imgs/police1.PNG');
    width: 113px;

    -webkit-background-size: 113px 150px;
    background-size: 113px 150px;
}

.policegun {
    background-image: url('../imgs/police2.PNG');
    width: 113px;

    -webkit-background-size: 113px 150px;
    background-size: 113px 150px;
}

.youtalk {
    background-image: url('../imgs/youtalk.PNG');
    width: 113px;

    -webkit-background-size: 113px 150px;
    background-size: 113px 150px;
}

@keyframes sickwife-play {
    100% {
        background-position: -450px;
    }
}


@keyframes trail-play {
    100% {
        background-position: -400px;
    }
}
