<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Okie Trail</title>
    <script type="application/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='caret.js') }}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/caret.css') }}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/8bit-wonder" type="text/css"/>
</head>
<body class="h-100">
<div class="container-fluid h-100">
    <div class="py-3"></div>
    <main class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="p-3 game">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="col-3"></div>
    </main>
    <div class="py-3"></div>
</div>
</body>
</html>