{% extends "base.html" %}

{% import "base.html" as base %}


{% block content %}
{% set intro %}
<br>
<p>Unfortunately, the bank has foreclosed on your property. You are forced off your land as mechanized
    farming takes charge.</p>
<br>
<p>You are instructed to leave soon.</p>
{{ base.navi() }}
{% endset %}

{% set mattintro %}
<div class="row mt-2">
    <span class="col-1"></span>
    <p class="col">Hello, I'm Matt. So you're moving out West! There's a few things you might want to do</p>
</div>
<div class="row">
    <img class="col-4" height="250px" src="{{ url_for('static', filename='imgs/placeholder.jpg') }}" alt="matt">
    <span class="col-1"></span>
    <ul class="col dashed">
        <li>sell the items you would be leaving</li>
        <li>buy a Jalopy to travel</li>
    </ul>
    <span class="col-2"></span>
</div>
{{ base.navi() }}
{% endset %}

{% set shop_home %}
<div class="row">
    <img class="col-3" height="350px" src="{{ url_for('static', filename='imgs/placeholder.jpg') }}" alt="matt"/>
    <div class="col mr-2">
        <div class="px-5" style="border-top: 5px solid crimson;">
            <p class="m-0 mt-1">Matt's Market</p>
            <p class="m-0 mb-2">Sallisaw, Oklahoma</p>
            <p class="text-right m-1">May 1st, 1933</p>
        </div>
        <div class="px-5" style="border-top: 5px solid crimson;">
            <p class="mt-1">Sell</p>
            <ul class="dashed">
                <li><p class="opt m-0 navi navi-page" data-navi="wagon-sell">3 Mules and Wagon</p></li>
                <li><p class="opt m-0 navi navi-page" data-navi="farm-equip-sell">Seeder, Plow, and Hoe</p></li>
                <li><p class="opt m-0 navi navi-page" data-navi="placeholder-sell">Placeholder</p></li>
            </ul>
        </div>
        <div class="px-5" style="border-top: 5px solid crimson; border-bottom: 5px solid crimson;">
            <div class="text-right m-0 mt-1">Amount received - $<span>0.00</span></div>
            <div class="text-right m-0 mb-1">Total money - $<span>0.00</span></div>
        </div>
    </div>
</div>
{{ base.navi() }}
{% endset %}

{% set wagon_sell %}
<p>Sell wagon dialogue</p>
{{ base.navi() }}
{% endset %}

{% set wagon_sell_1 %}
<p>dialogue 1</p>
{{ base.navi() }}
{% endset %}

{% set wagon_sell_2 %}
<p>dialogue 2</p>
{{ base.navi('navi-page', navi_page='shop-home') }}
{% endset %}

{% set farm_equip_sell %}
<p>Sell farm equipment</p>
{{ base.navi('navi-page', navi_page='shop-home') }}
{% endset %}

{% set placeholder_sell %}
<p>placeholder</p>
{{ base.navi('navi-page', navi_page='shop-home') }}
{% endset %}

{{ base.page(intro, hidden=False) }}
{{ base.page(mattintro) }}
{{ base.page(shop_home, 'shop-home') }}

{{ base.page(wagon_sell, 'wagon-sell') }}
{{ base.page(wagon_sell_1) }}
{{ base.page(wagon_sell_2) }}

{{ base.page(farm_equip_sell, 'farm-equip-sell') }}

{{ base.page(placeholder_sell, 'placeholder-sell') }}

{% endblock %}
