{% extends "trail.html" %}

{% import "base.html" as base %}
{% import "trail.html" as trail %}

{% set trail_class = 'scene5' %}

{% block intro_content %}
    <p>While you’re blazing down Route 66, you see a family on the side of the road, frantically waving at you.</p>
    <p>They look like fellow Okies, so you decide to check it out.</p>
{% endblock %}

{% block intro_footer %}
    {{ base.navi(class='navi-next traveling hidden') }}
{% endblock %}

{% block content %}

{{ super() }}

{% set dlg1 %}
<p>
    Oh thank heavens you came for us!
</p>
<p>
    We’re the Ritchkeys family and we’re trying to make a decent living
    in California, but our car broke down and we really have no way to get out of this desert.
</p>
{% endset %}

{% set navi_next %}
{{ base.navi() }}
{% endset %}

{% set dlg2 %}
<p>
    Anything would help! I don’t suppose we’d have much time until we die...
</p>
{% endset %}

{% set dlg3 %}
<p>Hm...I guess we might be able to help.</p>
<br>
<p class="opt navi navi-page" data-navi="ride">Allow them to ride with you</p>
<p class="opt navi navi-page" data-navi="five">Give them $5.00 and go on your way</p>
<p class="opt navi navi-page" data-navi="no">Tell them you can't help</p>
{% endset %}

{% set ride %}
<p>
    You decide to help them. How could you let them die? Space is limited right now, but there’s always room for
    more. You let the family in your car, sharing all their food and money.
</p>
{% endset %}

{% set ride1 %}
<p>
    + $12.00
</p>
{% endset %}

{% macro decide(value) %}
    <form action="{{ url_for('scene5') }}" method="POST">
        <input name="decision" type="hidden" value="{{ value }}">
        <p class="opt submit text-center">Continue</p>
    </form>
{% endmacro %}

{% set five %}
<p>
    You know it's not much, but it is better than doing nothing to help the Ritchkeys. You go on your way.
</p>
{% endset %}

{% set five1 %}
<p>
    - $5.00
</p>
{% endset %}

{% set no %}
<p>
    The scene looks bad, but there’s no way you could take care of them, you can barely even take care of
    yourself! You apologize, and they understand. Times are tough for everyone, and it would be a miracle if
    anybody helped them.
</p>
{% endset %}

{% set no1 %}
<p>
    They curl back up on the ground under the shade of their car.
</p>
{% endset %}

{{ trail.tpage(dlg1, trail_class, navi_next) }}
{{ trail.tpage(dlg2, trail_class, navi_next) }}
{{ trail.tpage(dlg3, trail_class) }}

{{ trail.tpage(ride, trail_class, navi_next, id='ride') }}
{{ trail.tpage(ride1, trail_class, decide(0)) }}

{{ trail.tpage(five, trail_class, navi_next, id='five') }}
{{ trail.tpage(five1, trail_class, decide(1)) }}

{{ trail.tpage(no, trail_class, navi_next, id='no') }}
{{ trail.tpage(no1, trail_class, decide(2)) }}

{% endblock %}
