{% extends "base.html" %}

{% import "base.html" as base %}

{% block scripts %}
    <script type="application/javascript" src="{{ url_for('static', filename='scripts/scene2.js') }}"></script>
{% endblock %}

{% block content %}
{% set intro %}
<br>
<p>Unfortunately, the bank has foreclosed on your property. You are forced off your land as mechanized
    farming takes charge.</p>
<br>
<p>You are instructed to leave soon.</p>
{{ base.navi() }}
{% endset %}

{% set mattintro %}
<div class="row mt-2">
    <span class="col-1"></span>
    <p class="col">Hello, I'm Matt. So you're moving out West! There's a few things you might want to do</p>
</div>
<div class="row">
    <div class="col-3">
        <div class="matt" style="position: relative; left: -30px; top: -25px;"></div>
    </div>
    <span class="col-1"></span>
    <ul class="col dashed">
        <li>sell the items you would be leaving</li>
        <li>buy a Jalopy to travel</li>
    </ul>
    <span class="col-2"></span>
</div>
{{ base.navi() }}
{% endset %}

{% set shop_home %}
<div class="row">
    <div class="col-3">
        <div class="matt" style="position: relative; left: -40px; top: 30px;"></div>
    </div>
    <div class="col mr-2">
        <div class="px-5" style="border-top: 5px solid crimson;">
            <p class="m-0 mt-1">Matt's Market</p>
            <p class="m-0 mb-2">Sallisaw, Oklahoma</p>
            <p class="text-right m-1">May 1st, 1937</p>
        </div>
        <div class="px-5" style="border-top: 5px solid crimson;">
            <p class="mt-1">Sell</p>
            <ul class="dashed">
                <li>
                    <p class="opt m-0 navi navi-page" data-navi="wagon-sell" id="enter-wagon-sell">3 Mules and Wagon</p>
                </li>
                <li>
                    <p class="opt m-0 navi navi-page" data-navi="farm-equip-sell" id="enter-farm-equip-sell">
                        Seeder, Plow, and Hoe</p>
                </li>
                <li>
                    <p class="opt m-0 navi navi-page" data-navi="placeholder-sell" id="enter-placeholder-sell">
                        Placeholder</p>
                </li>
            </ul>
        </div>
        <div class="px-5" style="border-top: 5px solid crimson; border-bottom: 5px solid crimson;">
            <div class="text-right m-0 mt-1">Amount received - $<span id="amount-received">0.00</span></div>
            <div class="text-right m-0 mb-1">Total money - $<span id="amount-total">0.00</span></div>
        </div>
    </div>
</div>
<form action="{{ url_for('scene3') }}" class="text-center mt-auto">
    <p class="opt submit hidden disabled" id="continue-market">Go to the Dealership</p>
</form>
{% endset %}

{% set wagon_sell %}
<div class="row">
    <div class="col-3">
        <div class="matt" style="position: relative; left: -40px; top: 30px;"></div>
    </div>
    <div class="col">
        <br>
        <br>
        <br>
        <br>
        <p>Hm...</p>
        <br>
        <br>
        <p>Since I like you, I’ll buy the wagon for a dollar...but the mules, I really don’t see much use for.</p>
    </div>
</div>
{{ base.navi() }}
{% endset %}

{% set wagon_sell_1 %}
<div class="row">
    <div class="col-3">
        <img src="{{ url_for('static', filename='imgs/mule.png') }}" height="350px" alt="mule"
             style="position: relative; left:-50px;">
    </div>
    <div class="col">
        <br>
        <br>
        <br>
        <p>I paid $30 for that wagon! And the mules, they’re beautiful!</p>
        <br>
        <br>
        <p>The teeth! Deep lungs! Hear their lungs, please!</p>
    </div>
</div>
{{ base.navi() }}
{% endset %}

{% set wagon_sell_2 %}
<div class="row">
    <div class="col-3">
        <div class="matt" style="position: relative; left: -40px; top: 30px;"></div>
    </div>
    <div class="col">
        <br>
        <p>Okay, okay, calm down. I will add another dollar and 40 cents for the wagon.</p>
        <br>
        <br>
        <p>The mules. I guess I can pay for their weight in dog feed. 10 dollars.</p>
        <br>
        <br>
        <p>So that will be...$12.40.</p>
    </div>
</div>
{{ base.navi('navi-page', navi_page='shop-home', id='wagon-sold') }}
{% endset %}

{% set farm_equip_sell %}
<p>Sell farm equipment</p>
{{ base.navi('navi-page', navi_page='shop-home', id='farm-equip-sold') }}
{% endset %}

{% set placeholder_sell %}
<p>placeholder</p>
{{ base.navi('navi-page', navi_page='shop-home', id='placeholder-sold') }}
{% endset %}


{{ base.page(intro, hidden=False) }}
{{ base.page(mattintro) }}
{{ base.page(shop_home, 'shop-home') }}


{{ base.page(wagon_sell, 'wagon-sell') }}
{{ base.page(wagon_sell_1) }}
{{ base.page(wagon_sell_2) }}

{{ base.page(farm_equip_sell, 'farm-equip-sell') }}

{{ base.page(placeholder_sell, 'placeholder-sell') }}

{% endblock %}
